{% extends 'layouts/base.html.twig' %}

{% block title %} Publication | {{ parent() }} {% endblock %}

{% block body %}
{# Conteneur de la page #}
<div class="container">
    {# Page header #}
    <div class="page-header">
        <h1 class="text-center">
            <i class="fas fa-user-tie"></i>
            Offre(s) d'emploi
        </h1>
    </div>

    {# Section : Introduction #}
    <section class="my-5 p-2">
        <div class="text-muted">
            <p>
                <strong class="text-uppercase">
                    {{ project.name }}
                </strong>
                ne propose pas actuellement d'opportunité de carrière ; vous pouvez remplir le questionnaire ci-dessous
                pour une candidature spontanée.
            </p>
            <h2 class="text-center mt-4">
                <u>
                    Candidature spontanée
                </u>
            </h2>
        </div>
    </section>
</div>
{% endblock %}
