// Fonts
$title-font: 'Montserrat';
$primary-font: 'Roboto';
$base-font-size: 16px;

// Custom colors
$header-color: #2b66b2;
$title-color: #2363b6;
// Custom button colors
$btn-color:  #2b66b2;
$btn-color-hover:  #1b4172;

// Homepage background images
$bg-img-1: '../images/homepage/formation.jpg';
$bg-img-2: '../images/homepage/businessman.jpg';
$bg-img-3: '../images/homepage/feedback.jpg';