<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h4>Résilience-RH</h4>
            <p class="font-weight-bold">organisme de formation</p>
            {# Icones réseaux sociaux #}
            <ul class="list-inline">
                <li>
                    <a href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h4>Liens utiles</h4>
        </div>
        <div class="col-lg-3">
            <h4>Autres</h4>
        </div>
    </div>
    <hr>
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot; Made with <i style="color: red;" class="fa fa-heart"></i> by <a
               href="#">f** Agency</a>
        </small>
    </p>
</div>