// the ~ allows you to reference things in node_modules
@import "~bootstrap";

/* fontawesome 5 free */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* import external URL font - Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

/* header & footer */
@import "./layouts/header";
@import "./layouts/footer";
/* variables */
@import "./shared/variables";

/*------------------------------
            Global
-------------------------------*/
body {
  font-family: $primary-font, sans-serif;
  background-color: #fff;
  padding-top: 80px;
  .page-header {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, sans-serif;
  color: $title-color !important;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*------------------------------
          Home page
-------------------------------*/
#carousel-custom-bg {
  background-color: $header-color;
}

.bg-image-full {
  position: relative;
  opacity: 0.75;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  span.border {
    background-color: #000;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
}

.bg-img-training {
  background-image: url($bg-img-1);
  min-height: 700px;
}
.bg-img-oursolutions {
  background-image: url($bg-img-2);
  min-height: 700px;
}
.bg-img-feedback {
  background-image: url($bg-img-3);
  min-height: 700px;
}

/*------------------------------
        Our Clients page
-------------------------------*/
/* Animation image client & partner */
.client-partner img {
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.075);
  }
}
