// the ~ allows you to reference things in node_modules
@import "~bootstrap";

/* fontawesome 5 free */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* import external URL font - Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

/* header & footer */
@import "./layouts/header";
@import "./layouts/footer";
/* variables */
@import "./shared/variables";

/*------------------------------
            Global
-------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: $primary-font, sans-serif;
  background-color: #fff;
  .page-header {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
  #page-container {
    padding-top: 89px;
    overflow-y: hidden;
    margin-top: -1px;
  }
  @media screen and (max-width: 500px) {
    font-size: 75%;
    #page-container {
      padding-top: 76px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, sans-serif;
  color: $title-color !important;
}

/* Buttons : custom color */
.btn-custom-color {
  color: #fff;
  background-color: $btn-color;
  border-color: $btn-color;
}
.btn-custom-color:hover {
  color: #fff;
  background-color: $btn-color-hover;
  border-color: $btn-color-hover;
}

.btn-outline-custom {
  color: $btn-color;
  border-color: $btn-color;
}

.btn-outline-custom:hover {
  color: #fff;
  background-color: $btn-color;
  border-color: $btn-color;
}

.btn-custom-rounded {
  font-size: 15px;
  color: $btn-color;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid $btn-color;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-custom-rounded:hover {
  color: #fff;
  background: $btn-color;
  border: 2px solid $btn-color;
}

/* Button : back to top */
#back-to-top-btn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2em; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $header-color; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/*------------------------------
          Home page
-------------------------------*/
/* Carousel */
#carousel-custom-bg {
  background-color: $header-color;
}

section {
  &.presentation {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #eee;
  }
  .content-layout {
    padding: 70px 80px;
    text-align: justify;
  }
  .parallax {
    position: relative;
    opacity: 0.75;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
  .bg-img-training {
    background-image: url($bg-img-1);
    background-position: center center;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    height: 75vh;
    // min-height: 600px;
  }
  .bg-img-oursolutions {
    background-image: url($bg-img-2);
    min-height: 550px;
  }
  .bg-img-feedback {
    background-image: url($bg-img-3);
    min-height: 550px;
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    span.border {
      background-color: #000;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }
    @media screen and (max-width: 500px) {
      span.border {
        font-size: 15px;
      }
    }
  }
  .card-custom-bg {
    background-color: #fafafa;
  }
  .card-hover:hover {
    box-shadow: 0 0.5rem 2rem rgba(1, 13, 182, 0.15) !important;
  }
}

/*------------------------------
    Our Clients/Partners page
-------------------------------*/
/* Animation image client & partner */
.client-partner img {
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.075);
  }
}

/*------------------------------
    Contact & Job offer pages
-------------------------------*/
/* Input file french label */
.custom-file-input:lang(en) ~ .custom-file-label:after {
  content: "Parcourir";
}

.required:after {
  color: red;
  content: "*";
  position: absolute;
  margin-left: 4px;
}

.bg-agreeTerms {
  background-color: #a6d0d6;
}
