/* variables */
@import "./shared/variables";

/*------------------------------
  Header: Navbar
-------------------------------*/
nav {
  &.bg-custom-navbar {
    background-color: $header-color;
  }
}

.dropdown-menu > a:hover {
    background-color: #0088cc;
    background-image: none;
  }