// Font variables
$title-font: 'Montserrat';
$primary-font: 'Roboto';

// Color varibles
$title-color: #183f66;
$header-color: #294a87;

// Homepage background images
$bg-img-1: '../images/homepage/formation.jpg';
$bg-img-2: '../images/homepage/businessman.jpg';
$bg-img-3: '../images/homepage/feedback.jpg';