{% extends 'layouts/base.html.twig' %}

{% block title %} Oups... | {{ parent() }} {% endblock %}

{% block body %}
<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-500">
                <h1>Oops!</h1>
                <h2>500 - Notre serveur est en pause</h2>
            </div>
            <a href="{{ path('app_home') }}">
                Retourner à la page d'accueil
            </a>.
        </div>
    </div>
</div>
{% endblock %}