{% extends 'layouts/base.html.twig' %}

{% block title %} Oups... | {{ parent() }} {% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-info mt-5 text-center">
        <h1>Page non trouvée</h1>

        <p class="lead mt-3">
            La page demandée n'a pas pu être trouvée. Vérifiez si l'URL ne contient pas de faute d'orthographe ou
            <a href="{{ path('app_home') }}">
                Retourner à la page d'accueil
            </a>.
        </p>

    </div>

</div>
{% endblock %}